@font-face {
    font-family: Press_Start_2P;
    src: url("Fuente/PressStart2P-Regular.ttf");
}

body {
    background-color: #001014;
    color: white;
    font-family: Press_Start_2P, sans-serif;
    text-align: center;
    margin: auto;
    padding: 45px;
}

h1 {
    padding: 15px;
}

div {
    padding: 4vh;
    margin: 1vh;
}

p {
    padding: 3px;
    line-height: 1.8;
}

#principal {
    margin: auto;
    padding: 6%;
    font-size: 250%;
}

.boton {
    color: white;
    text-decoration: none;
}
a:hover{
    transition: transform 0.2s ease-in-out;
    color: #11D147;
    transform: scale(1.5);
}

.botonesComojugar{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 'boton boton';
}

.carteles{
    border: 3px solid white;
    border-radius: 5px;
    height: 150px;
    width: 350px;
    font-size: 100%;
    margin: 5%;
}

.verde {
    color: #11D147;
}

.amarillo {
    color: #FEEA00;
}

table {
    border-collapse: separate;
    border-spacing: 15px;
    font-size: 25px;
    margin: auto;
}

td {
    height: 40px;
    width: 40px;
    border: 3px solid white;
    border-radius: 5px;
}
