@font-face {
    font-family: Press_Start_2P;
    src: url("Fuente/PressStart2P-Regular.ttf");
}

body {
    background-color: #001014;
    color: white;
    font-family: Press_Start_2P, sans-serif;
    text-align: center;
    margin: auto;

    padding: 45px;
}

h1 {
    padding: 15px;
}

div {
    padding: 4vh;
}

p {
    padding: 3px;
    line-height: 1.8;
}

#principal {
    margin: auto;
    padding: 6%;
    font-size: 250%;
}

.boton {
    color: white;
    text-decoration: none;
    margin: auto;
    padding: 0 10% 0 10%;
}

.verde {
    color: #11D147;
}

.amarillo {
    color: #FEEA00;
}

table {
    border-collapse: separate;
    border-spacing: 15px;
    font-size: 25px;
    margin: auto;
}

td {
    height: 40px;
    width: 40px;
    border: 3px solid white;
    border-radius: 5px;
}
