@font-face {
    font-family: Press_Start_2P;
    src: url("Fuente/PressStart2P-Regular.ttf");
}

body {
    background-color: #001014;
    color: white;
    font-family: Press_Start_2P, sans-serif;
    text-align: center;
    margin: auto;
    padding: 45px;
}

h1 {
    padding: 15px;
    text-shadow: -4px -4px 0 black, 4px -4px 0 black, -4px 4px 0 black, 4px 4px 0 black;
}

div {
    padding: 4vh;
    margin: 1vh;
}

footer {
    text-align: end;
    font-size: 10px;
    margin-top: 100px;
}

.tablero input {
    height: 40px;
    width: 40px;
    background-color: #001014;
    border: none;
    margin: 0;
    color: white;
    text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black, 1px 1px 0 black;

}

.tablero caption {
    font-size: 15px;
    text-shadow: -2px -2px 0 black, 2px -2px 0 black, -2px 2px 0 black, 2px 2px 0 black;
}

.comojugar {
    padding: 0;
}

p {
    line-height: 1.5;
    text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black, 1px 1px 0 black;
}

.comojugar p {
    padding: 3px;
    line-height: 1.8;
}

.botonesComojugar a {
    margin: 0 90px 0 90px;
}

#principal {
    margin: auto;
    padding: 6%;
    font-size: 250%;
}

.boton {
    color: white;
    text-decoration: none;
    text-shadow: -4px -4px 0 black, 4px -4px 0 black, -4px 4px 0 black, 4px 4px 0 black;
}

button {
    font-family: Press_Start_2P, sans-serif;
    font-size: 100%;
    background-color: #001014;
    color: white;
    border: none;
    text-shadow: -4px -4px 0 black, 4px -4px 0 black, -4px 4px 0 black, 4px 4px 0 black;

}

button:hover {
    transition: transform 0.2s ease-in-out;
    color: #11D147;
    text-shadow: -2px -2px 0 black, 2px -2px 0 black, -2px 2px 0 black, 2px 2px 0 black, 3px 3px 0 white;
}

#principal a:hover {
    transition: transform 0.2s ease-in-out;
    color: #11D147;
    text-shadow: -4px -4px 0 black, 4px -4px 0 black, -4px 4px 0 black, 4px 4px 0 black, 4px 4px 0 white;
}

a:hover {
    transition: transform 0.2s ease-in-out;
    color: #11D147;
    text-shadow: -2px -2px 0 black, 2px -2px 0 black, -2px 2px 0 black, 2px 2px 0 black, 3px 3px 0 white;

}

.verde {
    color: #11D147;
}

.amarillo {
    color: #FEEA00;
}

table {
    border-collapse: separate;
    border-spacing: 15px;
    font-size: 25px;
    margin: auto;
}

td {
    border: 3px solid white;
    border-radius: 5px;
}

.tablero td {
    height: 40px;
    width: 40px;
}

.carteles div {
    height: 200px;
    width: 450px;
    font-size: 100%;
    border-radius: 5px;
    margin: 15px auto 15px auto;
    display: none;
    z-index: 0;

}

#gameover {
    font-weight: bolder;
    line-height: 1.2;
    font-size: 280%;
    text-shadow: 6px 3px 0 red;
    margin: 0;

}

.cartelRojo {
    border: 3px solid red;
    display: none;
    background-color: #001014;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10000;
}

.cartelVerde {
    border: 3px solid #11D147;
    background-color: #001014;
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10000;
}


img {
    height: 30%;
}

input {
    font-family: Press_Start_2P, sans-serif;
    text-align: center;
    text-transform: uppercase;
    margin-top: 20px;
    border: 3px solid white;
    border-radius: 5px;
    color: #001014;
    outline: none;
    background-color: white;
}

#ingresarPalabra {
    text-shadow: -2px -2px 0 black, 2px -2px 0 black, -2px 2px 0 black, 2px 2px 0 black;
    margin-top: 30px;
    padding: 10px;
    border-radius: 5px;
}

canvas {
    width: 500px;
    height: 300px;
    border: 3px solid white;
    border-radius: 5px;
    margin: auto;
}
